# Site
name: "Jingkun (Allen) Liu"
title: "Allen's Portfolio"
description: "Current Master of Science in Robotics student at Northwestern University, with expertise in ROS/ROS2, C/C++, and Python. Passionate about Robotics, Embedded Systems, Automation, Control, and Human-Computer Interaction."
logo: 'assets/images/logo3.png'
favicon: 'assets/images/logo3.png'
url: nu-jliu.github.io
baseurl: 
google_analytics:
include: ["_pages"]
permalink: /:title/

# Authors
authors:
  Allen:
    name: Jingkun (Allen) Liu
    display_name: Jingkun (Allen) Liu
    gravatar:
    email: jingkunliu2025@u.northwestern.edu
    LinkedIn: https://www.linkedin.com/in/jingkun-liu-709b36178/
    description: 

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives
    
# Archives
jekyll-archives:
  enabled:
    - categories
  layout: archive
  permalinks:
    category: '/category/:name/'
    
# Pagination 
paginate: 6
paginate_path: /page:num/
    
# Other
markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true

# Adsense (change to "enabled" to activate, also your client id and ad slot. Create a new ad unit from your Adsense account to get the slot.)
adsense: "disabled"
adsense-data-ad-client: "ca-pub-3412143450191416"
adsense-data-ad-slot: "1363087678"

# Lazy Images ("enabled" or "disabled")
lazyimages: "disabled"

exclude: [post_template.md, changelog.md, LICENSE.txt, README.md, Gemfile, Gemfile.lock]
